@import "tailwindcss";

@theme {
  --font-display: Nunito Sans, sans-serif;
  --color-background: #e4e2d3;
  --color-accent-red: #f67563;
  --color-accent-yellow: #fde1ab;
  --color-accent-dark-yellow: #f7d082;
  --color-text-gray: #111111;
  --color-text-brown: #8c2f1b;
  --color-border-gray: #898989;
  --color-accent-green: #bbe19e;
  --color-accent-pink: #f4b0c0;
  --color-accent-dark-pink: #315218;
  --color-accent-beige: #fdebd6;
}

@layer components {
  * {
    @apply text-text-gray;
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-display);
  }
}
